@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #202020;
}